@mixin display-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@mixin  display-column {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
